{%- set first = variants.0 -%}
# {{ theme.name }} fzf Theme

fzf themes for {{ theme.name }}. {{ theme.description }}

## Installation

### Manual

Source the theme file in your `.bashrc` or `.zshrc`:

```bash
source /path/to/{{ theme.id }}-{{ first.variant.id }}.sh
```
{% for v in variants | slice(start=1) %}
Or for {{ v.variant.id }}:

```bash
source /path/to/{{ theme.id }}-{{ v.variant.id }}.sh
```
{% endfor %}
## Variants

{% for v in variants -%}
- **{{ theme.id }}-{{ v.variant.id }}.sh** - {{ v.variant.description }}
{% endfor -%}
